[A Complete Guide to an Interactive Geographical Map using Python](https://towardsdatascience.com/a-complete-guide-to-an-interactive-geographical-map-using-python-f4c5197e23e0)

In [13]:
import geopandas as gpd
import urllib, json
import requests

In [2]:
url_geojson = "https://raw.githubusercontent.com/tbrugz/geodata-br/master/geojson/geojs-35-mun.json"
content = requests.get(url_geojson)
sp_geojson = json.loads(content.content.decode("utf-8","ignore"))

In [9]:
sp_geojson2 = [{"id_municipio": feature["properties"]["id"],
  "name": feature["properties"]["name"],
  "geometry": feature["geometry"]["type"],
  "coordinates": feature["geometry"]["coordinates"]} for feature in sp_geojson["features"]]

In [18]:
df_gpd = gpd.GeoDataFrame(sp_geojson2)

In [19]:
df_gpd.head()

,id_municipio,name,geometry,coordinates
0,3500105,Adamantina,Polygon,"[[[-51.0578686748, -21.3988835488], [-51.05364..."
1,3500204,Adolfo,Polygon,"[[[-49.6547844576, -21.2060738806], [-49.63846..."
2,3500303,Agua,Polygon,"[[[-47.2089025978, -21.971289376], [-47.202974..."
3,3500402,guas da Prata,Polygon,"[[[-46.707554166, -21.8289515014], [-46.703797..."
4,3500501,guas de Lindia,Polygon,"[[[-46.6114727817, -22.4349582381], [-46.60301..."

## Dados COVID-19

In [14]:
import pandas as pd

In [21]:
df_covid = pd.read_csv("data/covid-19-municipios-sp.csv")

In [22]:
df_covid.head()

,Dia,Boletim,Municipio,Confirmados,Obitos,Qt_Novos_Casos,Qt_Novas_Mortes,Latitude,Longitude
0,25-03-2020,30,BARUERI,1.0,0.0,NaN,NaN,-23.511218,-46.876461
1,25-03-2020,30,CAIEIRAS,1.0,0.0,NaN,NaN,-23.364462,-46.748477
2,25-03-2020,30,CAMPINAS,4.0,0.0,NaN,NaN,-22.905560,-47.060830
3,25-03-2020,30,CARAPICUIBA,2.0,0.0,NaN,NaN,-23.523467,-46.840681
4,25-03-2020,30,COTIA,6.0,0.0,NaN,NaN,-23.603889,-46.918889

In [24]:
df_covid["Municipio"] = [m.rstrip().lstrip().lower() for m in df_covid.Municipio]
df_gpd["name"] = [m.rstrip().lstrip().lower() for m in df_gpd.name]

In [26]:
df_covid.head()

,Dia,Boletim,Municipio,Confirmados,Obitos,Qt_Novos_Casos,Qt_Novas_Mortes,Latitude,Longitude
0,25-03-2020,30,barueri,1.0,0.0,NaN,NaN,-23.511218,-46.876461
1,25-03-2020,30,caieiras,1.0,0.0,NaN,NaN,-23.364462,-46.748477
2,25-03-2020,30,campinas,4.0,0.0,NaN,NaN,-22.905560,-47.060830
3,25-03-2020,30,carapicuiba,2.0,0.0,NaN,NaN,-23.523467,-46.840681
4,25-03-2020,30,cotia,6.0,0.0,NaN,NaN,-23.603889,-46.918889

In [27]:
df_gpd.head()

,id_municipio,name,geometry,coordinates
0,3500105,adamantina,Polygon,"[[[-51.0578686748, -21.3988835488], [-51.05364..."
1,3500204,adolfo,Polygon,"[[[-49.6547844576, -21.2060738806], [-49.63846..."
2,3500303,agua,Polygon,"[[[-47.2089025978, -21.971289376], [-47.202974..."
3,3500402,guas da prata,Polygon,"[[[-46.707554166, -21.8289515014], [-46.703797..."
4,3500501,guas de lindia,Polygon,"[[[-46.6114727817, -22.4349582381], [-46.60301..."

## Fazendo o merge dos dois df

In [29]:
merged = df_gpd.merge(df_covid, left_on = 'name', right_on = 'Municipio')

In [30]:
merged

,id_municipio,name,geometry,coordinates,Dia,Boletim,Municipio,Confirmados,Obitos,Qt_Novos_Casos,Qt_Novas_Mortes,Latitude,Longitude
0,3500105,adamantina,Polygon,"[[[-51.0578686748, -21.3988835488], [-51.05364...",03-04-2020,37,adamantina,1.0,0.0,NaN,NaN,-21.686652,-51.076297
1,3500105,adamantina,Polygon,"[[[-51.0578686748, -21.3988835488], [-51.05364...",04-04-2020,38,adamantina,1.0,0.0,0.0,0.0,-21.686652,-51.076297
2,3500709,agudos,Polygon,"[[[-48.9110646595, -22.3376018955], [-48.91544...",02-04-2020,36,agudos,1.0,0.0,NaN,NaN,-22.471162,-48.987822
3,3500709,agudos,Polygon,"[[[-48.9110646595, -22.3376018955], [-48.91544...",03-04-2020,37,agudos,1.0,0.0,0.0,0.0,-22.471162,-48.987822
4,3500709,agudos,Polygon,"[[[-48.9110646595, -22.3376018955], [-48.91544...",04-04-2020,38,agudos,1.0,0.0,0.0,0.0,-22.471162,-48.987822
...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,3557105,votuporanga,Polygon,"[[[-50.0207347965, -20.3334693718], [-50.01275...",08-04-2020,42,votuporanga,3.0,0.0,0.0,0.0,-20.425251,-49.972260
798,3557105,votuporanga,Polygon,"[[[-50.0207347965, -20.3334693718], [-50.01275...",09-04-2020,43,votuporanga,3.0,0.0,0.0,0.0,-20.425251,-49.972260
799,3557105,votuporanga,Polygon,"[[[-50.0207347965, -20.3334693718], [-50.01275...",10-04-2020,44,votuporanga,3.0,0.0,0.0,0.0,-20.425251,-49.972260
800,3557105,votuporanga,Polygon,"[[[-50.0207347965, -20.3334693718], [-50.01275...",11-04-2020,45,votuporanga,5.0,0.0,2.0,0.0,-20.425251,-49.972260
801,3557303,estiva gerbi,Polygon,"[[[-46.913991627, -22.1993268976], [-46.912207...",11-04-2020,45,estiva gerbi,1.0,0.0,NaN,NaN,-22.275483,-46.952545